{% extends "page.html" %}

{% comment %}
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.  -->
{% endcomment %}

{% load tz %}
{% load mercurial %}

{% block title %}{{ repository }} changeset {{changeset }}{% endblock %}

{% block heading %}
<a href="{% url 'path' repository.name '' %}">{{ repository }}</a> changeset {{changeset }}
{% endblock %}

{% block content %}
<p class="summary">{{ changeset.description|summarise|bugzilla }}</p>

<table class="meta">
  <tr><td class="label">Author:</td><td>{{ changeset.author }}</td></tr>
  <tr><td class="label">Date:</td><td>{% localtime off %}{{ changeset.localdate|date:"D M d H:i:s Y O" }}{% endlocaltime %}</td></tr>
  <tr><td class="label">Changeset:</td><td><a href="{{ changeset.url }}">{{ changeset }}</a> ({{ changeset.rev }})</td></tr>
  <tr><td class="label">Pushlog:</td><td><a href="{{ changeset.pushlog }}">{{ changeset }}</a></td></tr>
</table>

<div class="description">{{ changeset.description|bugzilla|linebreaks }}</div>

<ul class="filechanges">
{% for change in changes %}
  <li class="{{ change.get_type_display }}">{{ change.path }}</li>
{% endfor %}
</ul>

{% endblock %}
