{% extends "sidebar.html" %}

{% comment %}
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.  -->
{% endcomment %}

{% load tz %}
{% load mercurial %}

{% block head %}<link href="{% url 'feed' repository path %}" rel="alternate" type="application/rss+xml" title="RSS Feed" />{% endblock %}
{% block title %}{{ repository }} {{ path }}{% endblock %}

{% block heading %}
<div class="feedicon">
  <a href="{% url 'feed' repository path %}"><img src="{{ STATIC_URL }}images/feed.png"></a>
</div>
Recent changes in <a href="{% url 'path' repository.name '' %}">{{ repository }}</a>
{% for parent in path.parentlist %}
{% if forloop.first %} - {% endif %}
<a href="{% url 'path' repository parent %}">{{ parent.name }}</a>
{% if not forloop.last %} / {% endif %}
{% endfor %}
{% endblock %}

{% block sidebar %}
<ul>
{% for path in paths %}
  <li class="path {% if path.is_dir %}directory{% else %}file{% endif %}"><a href="{% url 'path' repository path %}">{{ path.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}

{% block content %}
<table class="changesets">
{% for changeset in changesets %}
  <tr>
    <td class="link"><a href="{% url 'changeset' repository changeset %}">Details</a></td>
    <td class="meta">
      {{ changeset }}<br>
      {% localtime off %}{{ changeset.localdate|date:"D M d H:i:s Y O" }}{% endlocaltime %}
    </td>
    <td class="summary"><span class="author">{{ changeset.user.name }}</span> - {{ changeset.description|summarise|bugzilla }}</td>
    <td>
      {% for change in changeset.changetypes %}
        <img src="{{ STATIC_URL }}images/change{{ change }}.png">
      {% endfor %}
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
